# LS88 Project

###   Imports

In [2]:
%matplotlib inline
import numpy as np
import datascience as ds
from datascience import Table, make_array, predicates
import nba_py as py
from nba_py import player
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

### Load the Main Table

In [2]:
main = Table().read_table('PbP_15_16_reduced.csv', sep=',')
main.show(5)

### Helper Functions

In [3]:
def calc_efg(FGM, THREEPTM, FGA):
    try:
        (FGM + (0.5 * THREEPTM)) / FGA
    except:
        return 0
    
    return (FGM + (0.5 * THREEPTM)) / FGA

def calc_ts(FTA, PTS, FGA):
    try:
        PTS / ((2 * FGA) + (0.88 * FTA))
    except:
        return 0
    
    return PTS / ((2 * FGA) + (0.88 * FTA))

def convert_season_to_index(season):
    end = season[5:]
    int_year = int(end)
    return 18 - int_year

def time_string_to_number(time_string):
    index = len(time_string)-3
    minute = int(time_string[:index:])
    seconds = int(time_string[index::].replace(':', '')) / 60
    return minute + seconds

### Get Any Player's TS and ES

In [14]:
def get_season_stats(first, last):
    first = first.replace('.', '')    
    
    print(first)
    print(last)
    
    try:
        player_id = py.player.get_player(first, last_name=last)
    except:
        return [0, 0]
          
    player_general_splits = py.player.PlayerGeneralSplits(player_id)

    player_yearoveryear_splits = py.player.PlayerYearOverYearSplits(player_id, '2015-16')
    


    q = ds.Table.from_df(player_yearoveryear_splits.by_year())
    

    q = q.where('GROUP_VALUE', '2015-16')
    
    if q.num_rows < 1:
        return [0, 0]

    FGA = q.column('FGA').item(0)
    FG3M = q.column('FG3M').item(0)
    FGM = q.column('FGM').item(0)

    EFG = calc_efg(FGM, FG3M, FGA)
    
    FTA = q.column('FTA').item(0)
    PTS = q.column('PTS').item(0)
    
    TS = calc_ts(FTA, PTS, FGA)
    
    print([TS, EFG])

    return [TS, EFG]

In [15]:
get_season_stats('Craig', 'Ehlo')

Craig
Ehlo

[0, 0]

### Creates a Table of Close Games Only

In [5]:
# Takes in a csv filepath of one of the EightThirtyFour data sets
# and filters the data to games with a 10 or less point lead in 
# the last 6 minutes of the game.
def game_filter(csv_file): 
    
    
    pbp = Table().read_table(csv_file)
        
    last_quarter = pbp.where('PERIOD', predicates.are.equal_to(4))
    transformed_minutes = last_quarter.apply(time_string_to_number, 'PCTIMESTRING')
    last_quarter_and_minutes = last_quarter.with_column('TIME', transformed_minutes)
    
    find_close_scores = last_quarter_and_minutes.where('TIME', predicates.are.between(6, 6.5))  

    close_games_ids = make_array()   
    last_id = 0
    
    for i in np.arange(find_close_scores.num_rows):      
        row = find_close_scores.row(i)    
        current_id = int(row[0])
        if current_id != last_id:
            diff = abs(int(row[7]) - int(row[8]))
            if diff <= 10:
                close_games_ids = np.append(current_id, close_games_ids)
        last_id = current_id
        
        
    close_games_table = Table().with_column('Close Games', close_games_ids)    
    time_less_than_six = last_quarter_and_minutes.where('TIME', predicates.are.below(6.6))
    time_less_than_six = time_less_than_six.join('GAME_ID', close_games_table, 'Close Games')
    
    return time_less_than_six

### Writes the New Table to File

In [7]:
#Write to File
game_filter('PbP_15_16_reduced.csv').to_csv('PbP_15_16_trimmed.csv')

In [6]:
games = Table().read_table('PbP_15_16_trimmed.csv', sep=',')
games

GAME_ID  | EVENTNUM | PCTIMESTRING | TIME    | PERIOD | HOME_TEAM | AWAY_TEAM | HOME_SCORE | AWAY_SCORE | POINTS_SCORED | SHOT_MADE | SHOT_TYPE | SHOT_DIST | PLAYER1_ID | PLAYER1_NAME     | PLAYER1_TEAM_NICKNAME | ASSIST_PLAYER_ID | EVENTMSGTYPE  | EVENTMSGACTIONTYPE
21500002 | 474      | 6:32         | 6.53333 | 4      | Bulls     | Cavaliers | 80         | 79         | 0             | nan       | nan       | nan       | 2747       | J.R. Smith       | Cavaliers             | nan              | Personal Foul | P.FOUL
21500002 | 476      | 6:20         | 6.33333 | 4      | Bulls     | Cavaliers | 82         | 79         | 2             | 1         | Shot      | 15        | 201565     | Derrick Rose     | Bulls                 | nan              | Make          | Pullup Jump Shot
21500002 | 479      | 6:01         | 6.01667 | 4      | Bulls     | Cavaliers | 82         | 81         | 2             | 1         | Dunk      | nan       | 202684     | Tristan Thompson | Cavaliers             | 2590             | Make          | Dunk
21500002 | 480      | 5:50         | 5.83333 | 4      | Bulls     | Cavaliers | 82         | 81         | 0             | 0         | Layup     | 2         | 201565     | Derrick Rose     | Bulls                 | nan              | Miss          | Driving Layup
21500002 | 481      | 5:48         | 5.8     | 4      | Bulls     | Cavaliers | 82         | 81         | 0             | nan       | nan       | nan       | 201567     | Kevin Love       | Cavaliers             | nan              | Rebound       | Player
21500002 | 482      | 5:32         | 5.53333 | 4      | Bulls     | Cavaliers | 82         | 83         | 2             | 1         | Shot      | 7         | 2544       | LeBron James     | Cavaliers             | nan              | Make          | Driving Floating Jump Shot
21500002 | 483      | 5:18         | 5.3     | 4      | Bulls     | Cavaliers | 84         | 83         | 2             | 1         | Shot      | 13        | 202703     | Nikola Mirotic   | Bulls                 | nan              | Make          | Driving Floating Jump Shot
21500002 | 484      | 5:18         | 5.3     | 4      | Bulls     | Cavaliers | 84         | 83         | 0             | nan       | nan       | nan       | 202684     | Tristan Thompson | Cavaliers             | nan              | Personal Foul | S.FOUL
21500002 | 485      | 5:18         | 5.3     | 4      | Bulls     | Cavaliers | 85         | 83         | 1             | nan       | nan       | nan       | 202703     | Nikola Mirotic   | Bulls                 | nan              | Free Throw    | Free Throw 1 of 1
21500002 | 488      | 5:07         | 5.11667 | 4      | Bulls     | Cavaliers | 85         | 83         | 0             | 0         | Layup     | 3         | 201567     | Kevin Love       | Cavaliers             | nan              | Miss          | Reverse Layup
... (51527 rows omitted)

### Helper Funciton to Create Game Reference Table

In [7]:
# Sort the trimmed table to analyze on a game by game basis
# builds a list of tuples of indecies, each tubple represents a unquue game in the table

def isolate_game(table):
    games = []
    row_start = table.row(0)  
    last_id1 = int(row_start[0])
    current_id1 = 0
    last_index = 0
    count = 0
    
    for i in np.arange(table.num_rows):   
        
        row = table.row(i)           
        current_id1 = int(row[0])
        
        if current_id1 != last_id1:
            x = [last_index, i-1]

            games.append(x)
            count += 1
            
            # reset indicies
            last_index = i
            last_id1 = current_id1
        
    return games

games_list = isolate_game(games)

### Creates Game Reference Table

In [8]:
def construct_game_reference_table():
    count = 1
    season = Table(make_array('HOME_TEAM', 'AWAY_TEAM'))
    array = make_array()
    for t in games_list:
        index = t[0]
        row = games.take(index).select('HOME_TEAM', 'AWAY_TEAM')
        array = np.append(array, count)
        count += 1
        season = season.with_row(row)
    season = season.with_column('GAME NUMBER', array).with_column('INDICIES', games_list)
    return season 
      
construct_game_reference_table()

HOME_TEAM | AWAY_TEAM    | GAME NUMBER | INDICIES
Bulls     | Cavaliers    | 1           | [ 0 69]
Magic     | Wizards      | 2           | [ 70 149]
Celtics   | 76ers        | 3           | [150 224]
Pistons   | Jazz         | 4           | [225 301]
Pacers    | Raptors      | 5           | [302 396]
Thunder   | Spurs        | 6           | [397 475]
Clippers  | Kings        | 7           | [476 545]
Lakers    | Timberwolves | 8           | [546 624]
Pacers    | Grizzlies    | 9           | [625 690]
Thunder   | Magic        | 10          | [691 773]
... (678 rows omitted)

### Creates Player Reference Table

In [26]:
players = games.select('PLAYER1_ID', 'PLAYER1_NAME')
players = players.group('PLAYER1_ID', max).where('PLAYER1_NAME max', predicates.are.not_equal_to('nan')).relabel(1, 'PLAYER_NAME')

def first(string):
    name = string.split(' ')
    first = name[0]
    return first
    
def last(string):
    name = string.split(' ')
    if len(name) == 1:
        return 'nan'
    first = name[1]
    return first

players = players.with_column('FIRST_NAME', players.apply(first, 'PLAYER_NAME'))
players = players.with_column('LAST_NAME', players.apply(last, 'PLAYER_NAME'))


game1 = games.take(np.arange(0, 69))
names = game1.select('PLAYER1_NAME')

print(players.num_rows)
players

players = players.join('PLAYER_NAME', names, 'PLAYER1_NAME').group('PLAYER1_ID', max)
statzz = Table(make_array('TS', 'EFG'))

statzz.with_column('Player', players.column('PLAYER_NAME'))

481

PLAYER1_ID | PLAYER_NAME      | FIRST_NAME | LAST_NAME
378        | Craig Ehlo       | Craig      | Ehlo
380        | Tony Smith       | Tony       | Smith
406        | Shaquille O'Neal | Shaquille  | O'Neal
416        | Willie Burton    | Willie     | Burton
417        | Sam Mitchell     | Sam        | Mitchell
426        | Terry Davis      | Terry      | Davis
428        | Sherman Douglas  | Sherman    | Douglas
431        | Shawn Kemp       | Shawn      | Kemp
433        | Buck Williams    | Buck       | Williams
434        | Tony Dumas       | Tony       | Dumas
... (471 rows omitted)

#### Dont Run This Block

In [ ]:
for i in np.arange(0, players.num_rows):
    print(i)
    row = players.row(i)
    statzz = statzz.with_row(get_season_stats(row[2], row[3]))
    
statzz = statzz.with_column('Player', players.column('PLAYER_NAME'))
stored = statzz
stored.to_csv('Players.csv')
stored

In [27]:
players = players
players = players.join('PLAYER_NAME', stored, 'Player').where('TS', predicates.are.not_equal_to(0))
players.to_csv('Players.csv')
players

PLAYER_NAME     | PLAYER1_ID | FIRST_NAME | LAST_NAME | TS       | EFG
Aaron Brooks    | 201166     | Aaron      | Brooks    | 0.49333  | 0.470588
Aaron Gordon    | 203932     | Aaron      | Gordon    | 0.541176 | 0.506757
Aaron Harrison  | 1626151    | Aaron      | Harrison  | 0.386598 | 0.277778
Adreian Payne   | 203940     | Adreian    | Payne     | 0.413907 | 0.392857
Al Horford      | 201143     | Al         | Horford   | 0.562796 | 0.550781
Al Jefferson    | 2744       | Al         | Jefferson | 0.510378 | 0.485981
Al-Farouq Aminu | 202329     | Al-Farouq  | Aminu     | 0.529265 | 0.494318
Alan Anderson   | 101187     | Alan       | Anderson  | 0.497216 | 0.455556
Alan Williams   | 1626210    | Alan       | Williams  | 0.480769 | 0.416667
Alec Burks      | 202692     | Alec       | Burks     | 0.520344 | 0.453704
... (419 rows omitted)

# Analysis Begins Here

In [ ]:
def shots_all_players(table):
    #This function finds the number of shots that each player takes in time period
    #(it doesn't distinguish the type of shot)
    #it can be used for an entire game or for the last 6 minutes
    shots = table.where('EVENTMSGTYPE', predicates.are.containing('M'))
    players = shots.select('EVENTMSGTYPE', 'EVENTMSGACTIONTYPE', 'PLAYER1_NAME', 'PLAYER1_TEAM_NICKNAME')
    count = players.group(('PLAYER1_NAME', 'PLAYER1_TEAM_NICKNAME'))
    return count

def max_shot_player_each_team(table, team1, team2):
    #This takes in a table like player_count above
    #It returns the player who shoots the most for each team
    player_team_one = table.where('PLAYER1_TEAM_NICKNAME', team1).sort('count', descending=True).column('PLAYER1_NAME').item(0)
    player_team_two = table.where('PLAYER1_TEAM_NICKNAME', team2).sort('count', descending=True).column('PLAYER1_NAME').item(0)
    return (player_team_one, player_team_two)