# LS88 Project

###   Imports

In [5]:
%matplotlib inline
import numpy as np
import datascience as ds
from datascience import Table, make_array, predicates
import nba_py as py
from nba_py import player
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

### Load all the Tables

In [6]:
print("All Games")
all_games = Table().read_table('PbP_15_16_reduced.csv', sep=',')
all_games.show(5)
print('')

print('Close Games in 4th Quarter, 6 Mintues Left')
close_games_under_six = Table().read_table('PbP_15_16_trimmed.csv', sep=',')
close_games_under_six.show(5)
print('')

print('Row Ranges of Each Game in Close Games')
game_ref = Table().read_table('gamereference.csv', sep=',')
game_ref.show(5)
print('')

print('All Players and their Relevant Stats')
player_ref = Table().read_table('player_ref.csv', sep=',')
player_ref.show(5)
print('')


label_meaning = {}
label_meaning['TS%'] = 'True Shooting Percentage'
label_meaning['EFG%'] = 'Effective Field Goal Percentage'
label_meaning['PER'] = 'ESPN PER Player Rating (A way to rank NBA players)'
label_meaning['3PAr'] = '3 Point Attempt Rate'
label_meaning['G'] = 'Games'
label_meaning['MP'] = 'Minutes Played'
label_meaning['Pos'] = 'Position'
label_meaning

All Games

Close Games in 4th Quarter, 6 Mintues Left

Row Ranges of Each Game in Close Games

All Players and their Relevant Stats

{'3PAr': '3 Point Attempt Rate',
 'EFG%': 'Effective Field Goal Percentage',
 'G': 'Games',
 'MP': 'Minutes Played',
 'PER': 'ESPN PER Player Rating (A way to rank NBA players)',
 'Pos': 'Position',
 'TS%': 'True Shooting Percentage'}

# Analysis Begins Here

In [20]:
def shots_all_players(table):
    #This function finds the number of shots that each player takes in time period
    #(it doesn't distinguish the type of shot)
    #it can be used for an entire game or for the last 6 minutes
    shots = table.where('EVENTMSGTYPE', predicates.are.containing('M'))
    players = shots.select('EVENTMSGTYPE', 'PLAYER1_NAME', 'PLAYER1_TEAM_NICKNAME', 'HOME_TEAM', 'AWAY_TEAM')
    count = players.groups(['PLAYER1_NAME', "PLAYER1_TEAM_NICKNAME"])
    return count

def seperate_teams(table):
    #This function creates two tables from the last_six_minutes_table for each team
    return table.group("PLAYER1_TEAM_NICKNAME").column(0)

def max_shot_player_each_team_name(table):
    #This takes in a table of one game (entire game or last 6 minutes)
    #It returns the player who shoots the most for each team
    team_names = seperate_teams(table)
    player_team_one = table.where("PLAYER1_TEAM_NICKNAME", team_names.item(0)).sort('count', descending=True).column('PLAYER1_NAME').item(0)
    player_team_two = table.where("PLAYER1_TEAM_NICKNAME", team_names.item(1)).sort('count', descending=True).column('PLAYER1_NAME').item(0)
    return (player_team_one, player_team_two)

def max_shots(table):
    #This takes in a table of one game (entire game or last 6 minutes)
    #It returns the player who shoots the most for each team
    team_names = seperate_teams(table)
    shots_player_one = table.where("PLAYER1_TEAM_NICKNAME", team_names.item(0)).sort('count', descending=True).column('count').item(0)
    shots_player_two = table.where("PLAYER1_TEAM_NICKNAME", team_names.item(1)).sort('count', descending=True).column('count').item(0)
    return (shots_player_one, shots_player_two)

def total_shot_number(table):
    #returns the number of shots for each team in the last 6 minutes
    team_names = seperate_teams(table)
    total_shots1 = sum(table.where("PLAYER1_TEAM_NICKNAME", team_names.item(0)).column("count"))
    total_shots2 = sum(table.where("PLAYER1_TEAM_NICKNAME", team_names.item(1)).column("count"))
    return (total_shots1, total_shots2)

def average_player_each_team(table):
    #returns the number of shots of the average player
    average_shots1 = np.average(table.where("PLAYER1_TEAM_NICKNAME", team_names.item(0)).column("count"))
    average_shots2 = np.average(table.where("PLAYER1_TEAM_NICKNAME", team_names.item(1)).column("count"))
    return (total_shots1, total_shots2)

In [23]:
max_shots(shots_all_players(close_games_under_six))

(98, 140)

In [33]:
shots_all_players(close_games_under_six)

PLAYER1_NAME    | PLAYER1_TEAM_NICKNAME | count
Aaron Brooks    | Bulls                 | 34
Aaron Gordon    | Magic                 | 35
Aaron Harrison  | Hornets               | 1
Adreian Payne   | Timberwolves          | 1
Al Horford      | Hawks                 | 95
Al Jefferson    | Hornets               | 25
Al-Farouq Aminu | Trail Blazers         | 58
Alan Anderson   | Wizards               | 4
Alec Burks      | Jazz                  | 50
Alex Len        | Suns                  | 30
... (453 rows omitted)

In [34]:
close_game_ids = close_games_under_six.group('GAME_ID').column(0)

In [35]:
len(close_game_ids)

689

In [4]:
for i in close_game_ids:
    game = close_games_under_six.where("GAME_ID", i)
    shots = shots_all_players(game)
    max_players = max_shot_player_each_team(shots)
    
    max_proportions = max_players

NameError: name 'close_game_ids' is not defined